.sign-up{
    background:linear-gradient(#ffffff,#D2DCFF);
    height: 600px;
    margin-top: -150px;

    
}
.celebrate{
   
 position: relative;
 top: 10%;
 left: 0;
 font-size: 14px;

}

.star{
    height: 300px;
    width: 300px;
    position: relative;
    top: 40%;
    left: 10%;
}
.ring{
    position: relative;
    left:70%;
    top: -250px;
    height: 300px;
}